<!--
Author: W3layouts
Author URL: http://w3layouts.com
-->
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Edu School - Education Category Bootstrap Responsive Website Template - Home : W3Layouts</title>
    <!-- Google fonts -->
    <link href="//fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap" rel="stylesheet">
    <!-- Template CSS Style link -->
    <link rel="stylesheet" href="assets/css/style-starter.css">
</head>

<body>
   
    <header id="site-header" class="fixed-top">
        
    </header>
    
    <section id="home" class="w3l-banner py-5">
        <div class="banner-content">
            <div class="container py-4">
                <div class="row align-items-center pt-sm-5 pt-4">
                    <div class="col-md-6">
                        <h3 class="mb-lg-4 mb-3">
                            Вашите уреди засужават<span class="d-block">най - доброто обслужване</span>
                        </h3>
                        
                       
                    </div>
                    <div class="col-md-6 right-banner-2 text-end position-relative mt-md-0 mt-5">
                        <div class="sub-banner-image mx-auto">
                            <img src="https://plevenski-obiavi.com/wp-content/uploads/2020/09/136.jpg" class="-fluid position-relative" alt=" ">
                        </div>
                        <div class="banner-style-1 position-absolute">
                            <div class="banner-style-2 position-relative">
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
   
    <section class="services-w3l-block py-5" id="features">
        <div class="container py-md-5 py-4">
            <div class="title-main text-center mx-auto mb-md-5 mb-4" style="max-width:500px;">
                <p class="text-uppercase">Специално за вас</p>
                
            </div>
            <div class="row">
                <div class="col-md-6 col-lg-3 d-flex align-items-stretch">
                    <div class="icon-box icon-box-clr-1">
                        <div class="icon"><i class="fas fa-user-friends"></i></div>
                        <h4 class="title"><a href="#about">Служител на месеца</a></h4>
                        <p>Иван Стефанов, който този месец направи над 100 ремонта</p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 d-flex align-items-stretch mt-md-0 mt-4">
                    <div class="icon-box icon-box-clr-2">
                        <div class="icon"><i class="fas fa-book-reader"></i></div>
                        <h4 class="title"><a href="#about">Начин  на работа</a></h4>
                        <p>Правите заявка за повреден уред и нашите служители идват и го поравят бързо и качествено</p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 d-flex align-items-stretch mt-lg-0 mt-4">
                    <div class="icon-box icon-box-clr-3">
                        <div class="icon"><i class="fas fa-user-graduate"></i></div>
                        <h4 class="title"><a href="#about">Постоянна подръжка</a></h4>
                        <p>Сайта се подържа от хора денонощно</p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 d-flex align-items-stretch mt-lg-0 mt-4">
                    <div class="icon-box icon-box-clr-4">
                        <div class="icon"><i class="fas fa-university"></i></div>
                        
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <section class="w3l-servicesblock pt-lg-5 pt-4 pb-5 mb-lg-5" id="about">
        <div class="container pb-md-5 pb-4">
            <div class="row pb-xl-5 align-items-center">
                <div class="col-lg-6 position-relative home-block-3-left pb-lg-0 pb-5">
                    <div class="position-relative">
                        <img src="https://cdn5.focus.bg/bazar/04/pics/04fc7e5d9d2b240cd4e8d5319c7eac17.jpg" alt="" class="img-fluid radius-image">
                    </div>
                    
                </div>
                <div class="col-xl-5 col-lg-6 offset-xl-1 mt-lg-0 mt-5 pt-lg-0 pt-5">
                    <h3 class="title-style">Това е най-добрия избор за вас и вашата техника</h3>
                    <p class="mt-4">
                       При нас ще намерите най-бързото и добро обслужване. 
                        Нашите служители са най-добрите и работят качествено.
                    </p>
                    <ul class="mt-4 list-style-lis pt-lg-1">
                        <li><i class="fas fa-check-circle"></i>Бърза работа</li>
                        <li><i class="fas fa-check-circle"></i>Надежност</li>
                        <li><i class="fas fa-check-circle"></i>Сигурност</li>
                    </ul>
                    <a class="btn-style btn-primary btn mt-lg-5 mt-4" asp-area="Identity" asp-page="/Account/Register">Регистрирай се </a>
                </div>
            </div>
        </div>
    </section>
  
    <div class="w3l-grids-block-5 home-course-bg py-5" id="courses">
        <div class="container py-md-5 py-4">
            <div class="title-main text-center mx-auto mb-md-5 mb-4" style="max-width:500px;">
                <p class="text-uppercase">Най - добрите оферти</p>
                <h3 class="title-style"></h3>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-6">
                    <div class="coursecard-single">
                        <div class="grids5-info position-relative">
                            <img src="https://www.tehnomix.bg/media/catalog/product/cache/4e890e549d98d0d58ce195f62c29d334/w/t/wtr85.jpg" alt="" class="img-fluid" />
                            <div class="meta-list">
                                <a href="courses.html">Ремонт на сушилни</a>
                            </div>
                        </div>
                        <div class="content-main-top">
                   
                            <p>Услугата предлага ремонт на всякакви видове сушилни</p>
                            <div class="top-content-border d-flex align-items-center justify-content-between mt-4 pt-4">
                                <h6>42.00лв.</h6>
                                
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-md-0 mt-4">
                    <div class="coursecard-single">
                        <div class="grids5-info position-relative">
                            <img src="https://technosviat.com/pic/20211221140038tw.jpg" alt="" class="img-fluid" />
                            <div class="meta-list">
                                <a href="courses.html" class="sec-2">Ремонт на пералня</a>
                            </div>
                        </div>
                        <div class="content-main-top">
                            
                            <p>Услугата предлага ремонт на всякави перални</p>
                            <div class="top-content-border d-flex align-items-center justify-content-between mt-4 pt-4">
                                <h6>36.00лв.</h6>
                        
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-lg-0 mt-4">
                    <div class="coursecard-single">
                        <div class="grids5-info position-relative">
                            <img src="https://www.technopolis.bg/medias/sys_master/h05/h80/11594569383966.jpg" alt="" class="img-fluid" />
                            <div class="meta-list">
                                <a href="courses.html" class="sec-3">Ремонт на хладилници</a>
                            </div>
                        </div>
                        <div class="content-main-top">
                           
                            
                            <p>Ремонт на всички хладилници</p>
                            <div class="top-content-border d-flex align-items-center justify-content-between mt-4 pt-4">
                                <h6>30.00лв.</h6>
                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-center mt-sm-5 mt-4 pt-sm-0 pt-1">
                
            </div>
        </div>
    </div>
   
   
    <section class="w3l-index4 py-5" id="testimonials">
        <div class="container py-md-5 py-4">
            <div class="content-slider text-center">
                <div class="clients-slider">
                    <div class="mask">
                        <ul>
                            <li class="anim1">
                                <div class="source">Иван Стефанов</div>
                                <img src ="https://natfiz.bg/wp-content/uploads/2019/06/Ivan-Kabakov-e1559816840817.jpg" style="width:200px" class="img-fluid rounded-circle"
                                     alt="client image" />
                                <blockquote class="quote">
                                    
                                    <q>
                                       Това е нашия най-опитен служител. Има опит в поправката на всякави 
                                        уреди и има над 10 години трудов стаж в бранша.
                                    </q>
                                </blockquote>
                                <div class="source">Васил Илиев</div>
                            </li>

                            <li class="anim2">
                                <img src="https://p.bnt.bg/v/a/vasil-detelinov-ekip-237991-810x0.png" style="width:200px" class="img-fluid rounded-circle"
                                     alt="client image" />
                                <blockquote class="quote">
                                    <q>
                                        Служител с много опит в областта на бялата техника.
                                    </q>
                                </blockquote>
                                <div class="source">Георги Илиев</div>
                            </li>
                            <li class="anim3">
                                <img src="https://dabulgaria.bg/wp-content/uploads/2022/01/Georgi-Iliev.jpg" style="width:200px" class="img-fluid rounded-circle "
                                     alt="client image" />
                                <blockquote class="quote">
                                    <q>
                                        Специалист в поправката на черна техника
                                    </q>
                                </blockquote>
                                <div class="source">Асен Асенов</div>
                            </li>
                            <li class="anim4">
                                <img src="https://acibademcityclinic.bg/images/librariesprovider2/%D0%B4%D0%BE%D0%BA%D1%82%D0%BE%D1%80%D0%B8/%D1%83%D1%80%D0%BE%D0%BB%D0%BE%D0%B3%D0%B8%D1%8F/dr.assen.aleksandrov.tmb-pl400x400.jpg?sfvrsn=fa2cb409_1" style="width:200px" class="img-fluid rounded-circle"
                                     alt="client image" />
                                <blockquote class="quote">
                                    <q>
                                       Специалист от най-високо ниво
                                    </q>
                                </blockquote>
                                
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
   
    
    
    
    
    <footer class="w3l-footer-29-main">
        <div class="footer-29 pt-5 pb-4">
            <div class="container pt-md-4">
                <div class="row footer-top-29">
                    <div class="col-lg-4 col-md-6 footer-list-29">
                        <h6 class="footer-title-29">Contact Info </h6>
                        <p class="mb-2 pe-xl-5">
                            Address : с. Марино поле, номер 22
                        </p>
                        <p class="mb-2">Phone Number : 088 269 3746</p>
                        <p class="mb-2">Email : elservicepreciz@gmail.com</p>
                    </div>
                    
                    
                    
                </div>
                
            </div>
        </div>
    </footer>
   
    <button onclick="topFunction()" id="movetop" title="Go to top">
        <span class="fas fa-level-up-alt" aria-hidden="true"></span>
    </button>
    <script>
       
        window.onscroll = function () {
            scrollFunction()
        };

        function scrollFunction() {
            if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                document.getElementById("movetop").style.display = "block";
            } else {
                document.getElementById("movetop").style.display = "none";
            }
        }

        
        function topFunction() {
            document.body.scrollTop = 0;
            document.documentElement.scrollTop = 0;
        }
    </script>
   
    <script src="assets/js/jquery-3.3.1.min.js"></script>
    
    <script src="assets/js/counter.js"></script>
   
    <script src="assets/js/theme-change.js"></script>
  
    <script>
        $(window).on("scroll", function () {
            var scroll = $(window).scrollTop();

            if (scroll >= 80) {
                $("#site-header").addClass("nav-fixed");
            } else {
                $("#site-header").removeClass("nav-fixed");
            }
        });

      
        $(".navbar-toggler").on("click", function () {
            $("header").toggleClass("active");
        });
        $(document).on("ready", function () {
            if ($(window).width() > 991) {
                $("header").removeClass("active");
            }
            $(window).on("resize", function () {
                if ($(window).width() > 991) {
                    $("header").removeClass("active");
                }
            });
        });
    </script>
   
    <script>
        $(function () {
            $('.navbar-toggler').click(function () {
                $('body').toggleClass('noscroll');
            })
        });
    </script>
   
    <script src="assets/js/bootstrap.min.js"></script>
    
</body>

</html>