@{
    ViewData["Title"] = "Нашите служители";
}
<style>
    body {
        background-image: url(https://plevenski-obiavi.com/wp-content/uploads/2020/09/136.jpg);
        background-size: cover
    }
    #table {
        background: rgba(155,155,155,0.8);
        font-size: 2.5em;
    }

</style>
<h1>@ViewData["Title"]</h1>

<div id="table">
    <table class="text" style=" text-align:center" ; border="1" ; cellpadding="10" cellspacing="0">

        <tr>
            <b>
            <td>Име</td></b>
            <b>
            <td>Фамилия</td></b>
            <b>
            <td>Опит</td></b>
            <b>
            <td>Описание</td></b>
            <b>
            <td>Снимка</td></b>
        </tr>
        <tr>
            <td>Иван</td>
            <td>Стефанов</td>
            <td>4 години</td>
            <td>Добър в поправката на бяла техника</td>
            <td>
                <a href="https://yordankaatanasova.com/full/Lewis3918lastnewweb-copy.jpg"></a>
            </td>
        </tr>

        <tr>
            <td>Георги</td>
            <td>Иванов</td>
            <td>10 години</td>
            <td>Добър в поправката на всякаква техника</td>
            <td>
                <a href=https://yordankaatanasova.com/full/Lewis3918lastnewweb-copy.jpg ></a>
            </td>
        </tr>

        <tr>
            <td>Васил</td>
            <td>Василев</td>
            <td>8 години</td>
            <td>Добър в поправката на черна техника</td>
            <td>
                <a href="https://yordankaatanasova.com/full/Lewis3918lastnewweb-copy.jpg"></a>
            </td>
        </tr>
    </table>
</div>